{"swagger":"2.0","host":"prim.iledefrance-mobilites.fr","basePath":"/marketplace/v2/navitia","schemes":["https"],"securityDefinitions":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"apikey"}},"security":{"APIKeyHeader":[]},"paths":{"/places":{"get":{"description":"","operationId":"get_coverage__region__places","produces":["application/json"],"parameters":[{"description":"The data to search","required":true,"in":"query","name":"q","type":"string"},{"description":"The type of data to search","required":false,"items":{"type":"string"},"in":"query","name":"type[]","type":"array"},{"description":"The maximum number of places returned","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"If filled, will restrain the search within the given admin uris","required":false,"items":{"type":"string"},"in":"query","name":"admin_uri[]","type":"array"},{"description":"The depth of objects","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"Coordinates longitude;latitude used to prioritize the objects around this coordinate","required":false,"in":"query","name":"from","type":"string"},{"description":"Geographical shape to limit the search.","required":false,"in":"query","name":"shape","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/vehicle_journeys":{"get":{"description":"","operationId":"get_coverage__region__vehicle_journeys","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"}],"responses":{"200":{"description":" Retrieves vehicle journeys","schema":{"type":"object"}}}}},"/{uri}/journey_pattern_points/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__journey_pattern_points__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves journey pattern points","schema":{"type":"object"}}}}},"/commercial_modes":{"get":{"description":"","operationId":"get_coverage__region__commercial_modes","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"}],"responses":{"200":{"description":" Retrieves commercial modes","schema":{"type":"object"}}}}},"/trips":{"get":{"description":"","operationId":"get_coverage__region__trips","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"}],"responses":{"200":{"description":" Retrieves trips","schema":{"type":"object"}}}}},"/{uri}/commercial_modes":{"get":{"description":"","operationId":"get_coverage__region___uri__commercial_modes","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves commercial modes","schema":{"type":"object"}}}}},"/coord":{"get":{"description":"","operationId":"get_coverage__region__coord","produces":["application/json"],"responses":{"200":{"description":" Not implemented yet","schema":{"type":"object"}}}}},"/disruptions":{"get":{"description":"","operationId":"get_coverage__region__disruptions","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"if filled, will traduce disruptions. French by default","required":false,"in":"query","name":"language","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/coords/{id}":{"get":{"description":"","operationId":"get_coverage__region__coords__id_","produces":["application/json"],"parameters":[{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Not implemented yet","schema":{"type":"object"}}}}},"/disruptions/{id}":{"get":{"description":"","operationId":"get_coverage__region__disruptions__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"},{"description":"if filled, will traduce disruptions. French by default","required":false,"in":"query","name":"language","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/lines/{id}":{"get":{"description":"","operationId":"get_coverage__region__lines__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves lines","schema":{"type":"object"}}}}},"/{uri}/stop_points":{"get":{"description":"","operationId":"get_coverage__region___uri__stop_points","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves stop points ","schema":{"type":"object"}}}}},"/journey_patterns/{id}":{"get":{"description":"","operationId":"get_coverage__region__journey_patterns__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves journey patterns","schema":{"type":"object"}}}}},"/{uri}/vehicle_journeys":{"get":{"description":"","operationId":"get_coverage__region___uri__vehicle_journeys","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves vehicle journeys","schema":{"type":"object"}}}}},"/{uri}/vehicle_journeys/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__vehicle_journeys__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves vehicle journeys","schema":{"type":"object"}}}}},"/{uri}/poi_types":{"get":{"description":"","operationId":"get_coverage__region___uri__poi_types","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves poi types","schema":{"type":"object"}}}}},"/{uri}/departures":{"get":{"description":"","operationId":"get_coverage__region___uri__departures","produces":["application/json"],"parameters":[{"description":"use to filter PT objects","required":false,"in":"query","name":"filter","type":"string"},{"description":"The datetime from which you want the schedules","required":false,"in":"query","name":"from_datetime","type":"string"},{"description":"The datetime until which you want the schedules","required":false,"in":"query","name":"until_datetime","type":"string"},{"description":"Maximum duration between datetime and the retrieved stop time","format":"int32","required":false,"in":"query","name":"duration","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"Number of schedules per page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The current page","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"DEPRECATED, replaced by `items_per_schedule`","format":"int32","required":false,"in":"query","name":"max_date_times","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"Id of the calendar","required":false,"in":"query","name":"calendar","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"freshness of the data. base_schedule is the long term planned schedule. adapted_schedule is for planned ahead disruptions (strikes, maintenances, ...). realtime is to have the freshest possible data","required":false,"in":"query","name":"data_freshness","type":"string"},{"description":"maximum number of date_times per schedule","format":"int32","required":false,"in":"query","name":"items_per_schedule","type":"integer"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/{uri}/stop_areas/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__stop_areas__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves stop areas ","schema":{"type":"object"}}}}},"/{uri}/calendars":{"get":{"description":"","operationId":"get_coverage__region___uri__calendars","produces":["application/json"],"parameters":[{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"Number of calendars per page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The current page","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Start date","required":false,"in":"query","name":"start_date","type":"string"},{"description":"End date","required":false,"in":"query","name":"end_date","type":"string"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/{uri}/disruptions":{"get":{"description":"","operationId":"get_coverage__region___uri__disruptions","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"if filled, will traduce disruptions. French by default","required":false,"in":"query","name":"language","type":"string"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/companies/{id}":{"get":{"description":"","operationId":"get_coverage__region__companies__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves companies","schema":{"type":"object"}}}}},"/{uri}/places_nearby":{"get":{"description":"","operationId":"get_coverage__region___uri__places_nearby","produces":["application/json"],"parameters":[{"description":"Type of the objects to return","required":false,"items":{"type":"string"},"in":"query","name":"type[]","type":"array"},{"description":"Filter your objects","required":false,"in":"query","name":"filter","type":"string"},{"description":"Distance range of the query in meters","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"Elements per page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"Maximum depth on objects","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"The page number of the ptref result","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"DEPRECATED, Use add_poi_infos[]=bss_stands","required":false,"in":"query","name":"bss_stands","type":"boolean"},{"description":"Show more information about the poi if it's available, for instance, show BSS/car park availability in the pois(BSS/car park) of the response","required":false,"items":{"type":"string"},"in":"query","name":"add_poi_infos[]","type":"array"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/trips/{id}":{"get":{"description":"","operationId":"get_coverage__region__trips__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves trips","schema":{"type":"object"}}}}},"/{uri}/coords/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__coords__id_","produces":["application/json"],"parameters":[{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Not implemented yet","schema":{"type":"object"}}}}},"/{uri}/disruptions/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__disruptions__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"if filled, will traduce disruptions. French by default","required":false,"in":"query","name":"language","type":"string"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/{uri}/stop_points/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__stop_points__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves stop points ","schema":{"type":"object"}}}}},"/{uri}/contributors":{"get":{"description":"","operationId":"get_coverage__region___uri__contributors","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves contributors","schema":{"type":"object"}}}}},"/pois":{"get":{"description":"","operationId":"get_coverage__region__pois","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"Deprecated - Use add_poi_infos[]=bss_stands","required":false,"in":"query","name":"bss_stands","type":"boolean"},{"description":"Show more information about the poi if it's available, for instance, show BSS/car park availability in the pois(BSS/car park) of the response","required":false,"items":{"type":"string"},"in":"query","name":"add_poi_infos[]","type":"array"}],"responses":{"200":{"description":" Retrieves pois","schema":{"type":"object"}}}}},"/pt_objects":{"get":{"description":"","operationId":"get_coverage__region__pt_objects","produces":["application/json"],"parameters":[{"description":"The data to search","required":true,"in":"query","name":"q","type":"string"},{"description":"The type of data to search","required":false,"items":{"type":"string"},"in":"query","name":"type[]","type":"array"},{"description":"The maximum number of ptobjects returned","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"If filled, will restrain the search within the given admin uris","required":false,"items":{"type":"string"},"in":"query","name":"admin_uri[]","type":"array"},{"description":"The depth of objects","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/{uri}/line_groups":{"get":{"description":"","operationId":"get_coverage__region___uri__line_groups","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves line_groups","schema":{"type":"object"}}}}},"/journey_patterns":{"get":{"description":"","operationId":"get_coverage__region__journey_patterns","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"}],"responses":{"200":{"description":" Retrieves journey patterns","schema":{"type":"object"}}}}},"/{uri}/trips/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__trips__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves trips","schema":{"type":"object"}}}}},"/datasets":{"get":{"description":"","operationId":"get_coverage__region__datasets","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"}],"responses":{"200":{"description":" Retrieves datasets","schema":{"type":"object"}}}}},"/{uri}/stop_areas":{"get":{"description":"","operationId":"get_coverage__region___uri__stop_areas","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves stop areas ","schema":{"type":"object"}}}}},"/{uri}/arrivals":{"get":{"description":"","operationId":"get_coverage__region___uri__arrivals","produces":["application/json"],"parameters":[{"description":"use to filter PT objects","required":false,"in":"query","name":"filter","type":"string"},{"description":"The datetime from which you want the schedules","required":false,"in":"query","name":"from_datetime","type":"string"},{"description":"The datetime until which you want the schedules","required":false,"in":"query","name":"until_datetime","type":"string"},{"description":"Maximum duration between datetime and the retrieved stop time","format":"int32","required":false,"in":"query","name":"duration","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"Number of schedules per page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The current page","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"DEPRECATED, replaced by `items_per_schedule`","format":"int32","required":false,"in":"query","name":"max_date_times","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"Id of the calendar","required":false,"in":"query","name":"calendar","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"freshness of the data. base_schedule is the long term planned schedule. adapted_schedule is for planned ahead disruptions (strikes, maintenances, ...). realtime is to have the freshest possible data","required":false,"in":"query","name":"data_freshness","type":"string"},{"description":"maximum number of date_times per schedule","format":"int32","required":false,"in":"query","name":"items_per_schedule","type":"integer"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/{uri}/companies/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__companies__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves companies","schema":{"type":"object"}}}}},"/addresses/{id}":{"get":{"description":"","operationId":"get_coverage__region__addresses__id_","produces":["application/json"],"parameters":[{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Not implemented yet","schema":{"type":"object"}}}}},"/{uri}/journey_patterns/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__journey_patterns__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves journey patterns","schema":{"type":"object"}}}}},"/arrivals":{"get":{"description":"","operationId":"get_coverage__region__arrivals","produces":["application/json"],"parameters":[{"description":"use to filter PT objects","required":false,"in":"query","name":"filter","type":"string"},{"description":"The datetime from which you want the schedules","required":false,"in":"query","name":"from_datetime","type":"string"},{"description":"The datetime until which you want the schedules","required":false,"in":"query","name":"until_datetime","type":"string"},{"description":"Maximum duration between datetime and the retrieved stop time","format":"int32","required":false,"in":"query","name":"duration","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"Number of schedules per page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The current page","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"DEPRECATED, replaced by `items_per_schedule`","format":"int32","required":false,"in":"query","name":"max_date_times","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"Id of the calendar","required":false,"in":"query","name":"calendar","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"freshness of the data. base_schedule is the long term planned schedule. adapted_schedule is for planned ahead disruptions (strikes, maintenances, ...). realtime is to have the freshest possible data","required":false,"in":"query","name":"data_freshness","type":"string"},{"description":"maximum number of date_times per schedule","format":"int32","required":false,"in":"query","name":"items_per_schedule","type":"integer"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/{uri}/routes":{"get":{"description":"","operationId":"get_coverage__region___uri__routes","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves routes","schema":{"type":"object"}}}}},"/{uri}/networks":{"get":{"description":"","operationId":"get_coverage__region___uri__networks","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves networks","schema":{"type":"object"}}}}},"/{uri}/pois":{"get":{"description":"","operationId":"get_coverage__region___uri__pois","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"The filter parameter","required":false,"in":"query","name":"filter","type":"string"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"original uri of the object you want to query","required":false,"in":"query","name":"original_id","type":"string"},{"description":"Deprecated - Use add_poi_infos[]=bss_stands","required":false,"in":"query","name":"bss_stands","type":"boolean"},{"description":"Show more information about the poi if it's available, for instance, show BSS/car park availability in the pois(BSS/car park) of the response","required":false,"items":{"type":"string"},"in":"query","name":"add_poi_infos[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"}],"responses":{"200":{"description":" Retrieves pois","schema":{"type":"object"}}}}},"/{uri}/poi_types/{id}":{"get":{"description":"","operationId":"get_coverage__region___uri__poi_types__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"First part of the uri","required":true,"in":"path","name":"uri","type":"string"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves poi types","schema":{"type":"object"}}}}},"/journey_pattern_points/{id}":{"get":{"description":"","operationId":"get_coverage__region__journey_pattern_points__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves journey pattern points","schema":{"type":"object"}}}}},"/physical_modes/{id}":{"get":{"description":"","operationId":"get_coverage__region__physical_modes__id_","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"An external code to query","required":false,"in":"query","name":"external_code","type":"string"},{"description":"filter vehicle journeys on headsign","required":false,"in":"query","name":"headsign","type":"string"},{"description":"show more identification codes","required":false,"in":"query","name":"show_codes","type":"boolean"},{"description":"odt level","required":false,"in":"query","name":"odt_level","type":"string"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"filters objects not valid before this date","required":false,"in":"query","name":"since","type":"string"},{"description":"filters objects not valid after this date","required":false,"in":"query","name":"until","type":"string"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"remove disruptions from the response","required":false,"in":"query","name":"disable_disruption","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"Id of the object you want to query","required":true,"in":"path","name":"id","type":"string"}],"responses":{"200":{"description":" Retrieves physical modes","schema":{"type":"object"}}}}},"/traffic_reports":{"get":{"description":"","operationId":"get_coverage__region__traffic_reports","produces":["application/json"],"parameters":[{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"Number of objects per page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The current page","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"Distance range of the query. Used only if a coord is in the query","format":"int32","required":false,"in":"query","name":"distance","type":"integer"},{"description":"remove geojson from the response","required":false,"in":"query","name":"disable_geojson","type":"boolean"},{"description":"If filled, will restrain the search within the given disruption tags","required":false,"items":{"type":"string"},"in":"query","name":"tags[]","type":"array"},{"description":"if filled, will traduce disruptions. French by default","required":false,"in":"query","name":"language","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/{uri}/lines":{"get":{"description":"","operationId":"get_coverage__region___uri__lines","produces":["application/json"],"parameters":[{"description":"The page where you want to start","format":"int32","required":false,"in":"query","name":"start_page","type":"integer"},{"description":"Number of objects you want on a page","format":"int32","required":false,"in":"query","name":"count","type":"integer"},{"description":"The depth of your object","format":"int32","required":false,"in":"query","name":"depth","type":"integer"},{"description":"DEPRECATED, replaced by `forbidden_uris[]`","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_id[]","type":"array"},{"description":"forbidden uris","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type
[...]
